@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
header div {
  height: 3em;
  max-width: 960px;
  margin: 0 auto 2em auto;
  padding-top: 1em;
  border-bottom: 4px solid #005B0B; }
  header div .name {
    font-size: 2.5em; }
    @media only screen and (min-width: 768px) {
      header div .name {
        text-align: left; } }
  @media only screen and (max-width: 767px) {
    header div nav {
      display: none; } }
  @media only screen and (min-width: 768px) {
    header div nav {
      margin-top: -1.3em;
      margin-right: 0.25em;
      font-size: 1.75em;
      float: right; } }
  header div nav ul li {
    display: inline-block; }
    header div nav ul li div {
      display: inline;
      background-color: white;
      border-radius: 3px; }
      header div nav ul li div:not(.social) {
        margin-left: -0.25em;
        padding: 0 0.25em; }
      header div nav ul li div p {
        display: inline;
        font-family: "Droid Sans"; }

footer {
  position: absolute;
  background-color: #333;
  color: #FEFEFE; }
  footer ul {
    padding: 1em 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media only screen and (min-width: 768px) {
      footer ul {
        flex-direction: row;
        justify-content: space-around; } }
    footer ul li {
      text-align: right;
      margin: 0.25em 0.5em; }
      @media only screen and (min-width: 768px) {
        footer ul li {
          display: inline-block; } }

html {
  background: #FEFEFE;
  background: -webkit-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
  background: -o-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
  background: -moz-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
  background: linear-gradient(to right, #F2F2F2, #FEFEFE, #F2F2F2);
  margin: 0;
  height: 100%; }
  html body {
    background: #FEFEFE;
    background: -webkit-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
    background: -o-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
    background: -moz-linear-gradient(left, #F2F2F2, #FEFEFE, #F2F2F2);
    background: linear-gradient(to right, #F2F2F2, #FEFEFE, #F2F2F2);
    font-family: "Droid Sans", sans-serif;
    color: #333;
    height: 100%;
    margin: 0; }
    html body h1 {
      color: #005B0B;
      margin: 0 auto;
      text-align: center; }
    html body ul {
      list-style: none; }
    html body section {
      display: block;
      z-index: 50; }
    html body .container {
      background-color: white;
      width: 100%;
      border-bottom: 4px solid #005B0B;
      margin-top: 2em;
      margin-bottom: 4em;
      padding: 1em 0; }

header {
  position: relative;
  width: 100%; }

main {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 960px) {
    main {
      width: 960px; } }

footer {
  width: 100%;
  position: absolute; }

.education div:not([ng-repeat]) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .education div:not([ng-repeat]) div {
    text-align: center;
    margin: 0.5em 0; }
    .education div:not([ng-repeat]) div h3 {
      font-size: 1.1em; }

.experience div {
  text-align: center; }
  .experience div h2 {
    margin: 0.25em auto; }
  .experience div ul {
    margin: 0.5em 0;
    text-align: center; }
    .experience div ul li {
      font-size: 1.1em;
      line-height: 1.3em; }

.profile div p {
  font-size: 1.15em;
  margin: 1em 0.75em;
  line-height: 1.35em; }

@media only screen and (min-width: 768px) {
  .projects {
    overflow: hidden; }
    .projects ::-webkit-scrollbar {
      width: 0px;
      background: transparent; }
    .projects > div {
      width: 100%;
      margin-top: 2em;
      margin-bottom: 4em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: auto;
      flex: 0; }
      .projects > div .container {
        margin: 0 2em 0 0;
        min-width: 25em;
        height: 22em; }
    .projects h2, .projects h3, .projects h4 {
      text-align: center;
      margin-top: 0.5em; }
    .projects p {
      margin: 1em; } }

.skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .skills ul li {
    display: inline-block;
    min-width: 8.5em;
    margin: 0.5em 0 0.5em 0.25em; }

a {
  text-decoration: none;
  color: inherit; }

header a:hover {
  color: #005B0B;
  cursor: pointer; }

header nav:hover {
  cursor: pointer; }

footer a:hover {
  text-decoration: underline; }
