.half{
  background-color: $blue;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes blink {
  0%{
    background-color: transparent;;
  }
  100%{
    background-color: $blue;
  }
}
