.half{
  background-color: $blue;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes blink {
  0%{
    background-color: transparent;
  }
  25%{
    background-color: $blueFade1;
  }
  50%{
    background-color: $blueFade2;
  }
  75%{
    background-color: $blueFade3;
  }
  100%{
    background-color: $blue;
  }
}
