a{
  text-decoration: none;
  color:inherit;
}

header{
  a:hover{
    color: $green;
    cursor: pointer;
  }
  nav:hover{
    cursor: pointer;
  }
}

footer{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
}
