.experience{
  h1{

  }
  div{
    text-align: center;
    h2{
      margin: 0.25em auto;
    }
    ul{
      margin: 0.5em 0;
      text-align: center;
      li{
        font-size: 1.1em;
        line-height: 1.3em;
      }
    }
  }
}
