.projects{
  @media only screen and (min-width: $ipad){
    overflow: hidden;
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    > div{
      width: 100%;
      margin-top: 2em;
      margin-bottom: 4em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: auto;
      flex: 0;

      .container{
        margin: 0 2em 0 0;
        min-width: 25em;
        height: 22em;
      }
    }
    h2, h3, h4{
      text-align: center;
      margin-top: 0.5em;
    }
    p{
      margin: 1em;
    }
  }
}
