html{
  @include gradient-from-left($lightgrey, $lightergrey, $lightgrey);
  margin: 0;
  height: 100%;
  body{
    @include gradient-from-left($lightgrey, $lightergrey, $lightgrey);
    font-family: $default, sans-serif;
    color: $blackish;
    height: 100%;
    margin: 0;
    h1{
      color: $green;
      margin: 0 auto;
      text-align: center;
    }
    ul{
      list-style: none;
    }
    section{
      display: block;
      z-index: 50;
    }
    .container{
      background-color: white;
      width: 100%;
      border-bottom: 4px solid $green;
      margin-top: 2em;
      margin-bottom: 4em;
      padding: 1em 0;
    }
  }
}
