header {
  div{
    height: 5em;
    max-width: 960px;
    margin: 0 auto 2em auto;
    padding-top: 0.1em;
    border-bottom: 2px solid $blue;
    .name {
      font-size: 3em;
      font-weight: 500;
      @media only screen and (min-width: $ipad){
        text-align: left;
        font-size: 4em;
      }
    }
    nav{
      @media only screen and (max-width: 767px){
        display: none;
      }
      @media only screen and (min-width: $ipad){
        margin-top: -2.2em;
        margin-right: 0.25em;
        font-size: 1.75em;
        float: right;
      }
      ul{
        li{
          display: inline-block;
          font-size: 1.2em;
          a{
          }
        }
      }
    }
  }
}
