<footer>
  <ul>
    <li><p>chris@chrisperez.io</p></li>
    <li><p>714.875.7217</p></li>
    <li><a href="http://www.linkedin.com/in/ckperez" target="_blank"><p>LinkedIn</p></a></li>
    <li><a href="http://github.com/ckperez" target="_blank"><p>GitHub</p></a></li>
    <li><p>Made with <a href="https://angularjs.org/" target="_blank">Angular.js</a></p></li>
    <li><a href="./docs/chris_perez_resume.pdf" target="_self" download="chris_perez_resume.pdf"><p><span class="icon-cloud-download"></span> Resume as PDF</p></a></li>
  </ul>
</footer>
