<header>
  <div>
    <h1 class="name">Chris Perez</h1>
    <nav>
      <ul>
        <li>
          <a class="social icon-linkedin-square" href="http://www.linkedin.com/in/ckperez" target="_blank">
          </a>
        </li>
        <li>
          <a class="social icon-github-square" href="http://github.com/ckperez" target="_blank">
          </a>
        </li>
        <li class="social icon-envelope-square" ng-click="email=!email">
          <div ng-if="email">
            <p>chris@chrisperez.io</p>
          </div>
        </li>
        <li class="social icon-phone-square" ng-click="phone=!phone">
          <div ng-if="phone">
            <p>714.875.7217</p>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
